//colours
$ab-white: #ffffff;
$ab-black: #000000;
$ab-green: #06A960;
$ab-dark-green: #248459;
$ab-light-grey: #E1E1E1;
$ab-dark-grey: #ABABAB;
$ab-not-black: #111111;
$ab-blue: #204A76;
$ab-light-blue: #6693C3;
//breakpoint sizes
$sm-point: 768px;
$md-point: 992px;
$lg-point: 1200px;